* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 13px;
}

window#waybar {
    background: rgba(30, 30, 46, 0.9); /* Темный фон */
    color: #cdd6f4; /* Светлый текст */
    border-bottom: 2px solid #33ccff;
}

#workspaces button {
    padding: 0 5px;
    color: #cdd6f4;
}

#workspaces button.active {
    color: #33ccff;
    background: rgba(255, 255, 255, 0.1);
}

#clock, #cpu, #memory, #language {
    padding: 0 10px;
    margin: 0 5px;
}